<ul class="list-unstyled services row">
  <li class="services__item col-md services--financial">
    <h3 class="h5"><a href="{{ 'services/financial-management/' | relative_url }}">Financial<br> Management</a></h3>
  </li><li class="services__item col-md services--facilities">
    <h3 class="h5"><a href="{{ 'services/facilities-maintenance/' | relative_url }}">Facilities<br> Maintenance</a></h3>
  </li><li class="services__item col-md services--tenants">
    <h3 class="h5"><a href="{{ 'services/tenant-relations/' | relative_url }}">Tenant<br> Relations</a></h3>
  </li><li class="services__item col-md services--vendors">
    <h3 class="h5"><a href="{{ 'services/vendor-administration/' | relative_url }}">Vendor<br> Administration</a></h3>
  </li><li class="services__item col-md services--construction">
    <h3 class="h5"><a href="{{ 'services/construction-management/' | relative_url }}">Construction<br> Management</a></h3>
  </li><li class="services__item col-md services--parking">
    <h3 class="h5"><a href="{{ 'services/parking/' | relative_url }}">Parking<br> Operations</a></h3>
  </li>
</ul>
