// General variables

$img-path: '../img/';

$transition: all 250ms ease;
$kerning: .03125em;
$all-headings: "h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6";


// Spacing: Assumed REMs
$gutter-min: 1;
$gutter-max: 3;
$vertical-min: $line-height__base;
$vertical-max: ($line-height__base * 2);

$min-vp: strip-unit(rem(bp(small)));
$max-vp: strip-unit(rem(bp(large)));

// Establishing some vertical rhythm for block elements
$vertical-rhythm: ($line-height__base * 1rem);

// Z Indices
$z-indices: (
  page: 1,
);

// Z-index helper
@function z($name) {
  @return map-get($z-indices, $name);
}
