.main {
  
  &__logo {
    margin: 0 auto;
    width: rem(100);
    
    @include media-breakpoint-up(sm) {
      max-width: unset;
      width: rem(125);
    }
  }
  
  &__title {}
  
  &__content {}
  
  &__article {}
  
  &__footer {}
}
